body {
	background-color:#000000;
	background:#000000 url('../static/city.png') no-repeat right center;
	text-align: center;
}

h1, h3{
	color:#558855;
}

section {
	float:left;
	clear:none;
	background:url('../static/trasparente.png');
	border:2px solid;
	border-color:#ffffff;
	border-radius:15px;
	margin:2em 0.5em;
	padding:0.5em 3em;
	text-align: center;
}

canvas {
	background:url('../static/fondo.png');
	color:#ffffff;
	border:2px solid;
	border-color:#ffffff;
	border-radius:15px;
}

p {
	color:#003300;
}

button {
	margin:0.3em;
	color:#555555;
}

#arriba, #abajo, #salto, #sentado, #calaca_1, #calaca_2 {
	display:none;
}

#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:500px;
    min-height:250px;
    border-radius:25px;
    background:url('../static/trasparente.png');
    box-shadow: 0 2px 5px #666666;
}

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}

