html,
body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #212121;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

#bg-canvas {
    z-index: 0;
}

#fg-canvas {
    z-index: 1;
}

@font-face {
    font-family: "PixelEmulator";
    src: url("../static/pixel-emulator.otf");
}
