.Perfil{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    align-items: center;
}
tr, td{
    padding: 15px;
    text-align: left;
    border-bottom: 3px solid rgb(0, 0, 0);
}
ul, li{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(125, 155, 148);
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html, body{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(8, 248, 168));
}