<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
  <link rel="dns-prefetch" href="http://res.wx.qq.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
	<title>Flappy Bird</title>
	<script src="{{url_for('static', filename='jquery-1.11.0.min.js')}}"></script>
  <script type="application/javascript" src="static/WeixinApi.js"></script>
	<script type='application/javascript' src="static/fastclick.js"></script>
</head>
<style>
@font-face {
	font-family: "Press Start 2P";
	src: url("static/PressStart2P.ttf") format('truetype');
}
*{
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
::selection{
	background: transparent;
}
::-moz-selection{
	background: transparent;
}
.option, .mode{
	display: inline-block;
	width: 70px;
	height: 20px;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 2px;
	text-align: center;
	font-size: 11px;
	font-family: "Press Start 2P";
	padding-top: 5px;
	z-index: 2;
}
.option:hover, .mode:hover{
	background: #fff;
}
#modes{
	position: absolute;
	top: 28px;
}
#easy, #flashlight{
	left: 2px;
}
#normal, #hidden{
	left: 74px;
}
#hard{
	left: 146px;
}
canvas {
  -webkit-tap-highlight-color: transparent;
}
</style>
<body style="padding:0;margin:0;outline:0;overflow:hidden">
	<canvas id="canvas">你的浏览器太老了 =_=||</canvas>
	<div id="easy" class="option" style="box-shadow:0 0 0 2px #165CF3">easy</div>
	<div id="normal" class="option">normal</div>
	<div id="hard" class="option">hard</div>
	<br/>
	<div id="modes">
		<div id="flashlight" class="mode">FL</div>
		<!-- <div id="hidden" class="mode">HD</div> -->
	</div>
    <a href="https://github.com/quietshu/FlappyBird"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <script type="application/javascript" src="static/fb.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54479859-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
