<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    
</head>
<body>
    <div id="seccion1" class="jumbotron text-center">
        <h1 id="encabezado">Pool de juegos en javascript</h1>
        <p>creditos a los respectivos autores de los juegos</p>
    </div>
    <form id = formulario class="form-horizontal" action="http://127.0.0.1:5000/login" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-2" for="user">Usuario: </label>
            <input type="text" class="form-control" name="nombre" placeholder="Usuario">
            <input type="submit" value="Ingresar" class="btn btn-default">
        </div>
    </form>
</body>