<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="static/jquery-1.11.0.min.js"></script>
    <link href="{{ url_for('static', filename='estiloInicio.css') }}" type="text/css" rel="stylesheet" media="">
</head>
<body>
    <div id="seccion1" class="jumbotron text-center" style="background-image: linear-gradient(to top, rgb(255, 2, 2), rgb(255, 255, 255));
    ">
        <h1>Bienvenido</h1><br>
        <h2 id = "jugador"></h2><br>
        <p>Podemos sugerir: </p><br>
        <p id = "sugerencia"></h3>
        <div id="botonSugerencia"></div>
    </div>
    <div id = seccion2 class="container">
        <h1>Nuestra Seleccion</h1><br>
        <button id = "simonDice" class="simonDice" value="Simon Dice" onclick="launchSimon()">SimonDice</button>
        <button id = "snake" class="snake" value="Snake" onclick="launchSnake()">Snake</button>
        <button id = "alienInvasion" class="alienInvasion" value="Alien Invasion"onclick="launchAlien()">AlienInvasion</button>
        <button id = "subLvL1" class="subLvL1" value="Sub Nivel 1" onclick="launchLvL()">SubLvL1</button>
        <button id = "quicaStein" class="quicaStein" value="Quica Stein" onclick="launchQuica()">QuicaStein</button>
        <button id = "laLlorona" class="laLlorona" value="La Llorona" onclick="launchLlorona()">LaLlorona</button>
        <button id = "flappyBird" class="flappyBird" value="Flappy Bird" onclick="launchFlappy()">FlappyBird</button>
    </div>
    <section id= "seccion3">
        <h1>Nuestro mejor Jugador es :</h1><br>
        <div id="top"></div>
    </section>
    <script src="static/inicio.js"></script>
</body>