<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Simon dice</title>
    <script src="{{url_for('static', filename='jquery-1.11.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='spawn.js')}}"></script>
    <script src="{{url_for('static', filename='juego.js')}}"></script>
    <link href="{{ url_for('static', filename='estilo.css') }}" type="text/css" rel="stylesheet" media="">
</head>
<body>
    <section id = "titulos">

    </section>
    <section id = "contenido">
        <canvas id = "canvas" height="600" width="800">
            por favor use un navegador de verdad
        </canvas>
    </section>
    <section id = "miscelaneos">
    </section >
    <img id="cuadro" src="static/cuadro.png" style="display: none"/>
    <img id="DoomGuy" src="static/DoomGuy.png" style="display: none"/>
    <img id="Aiming" src="static/aiming.png" style="display: none"/>
    <img id="arriba" src="static/arriba.png" style="display: none"/>
    <img id="izquierda" src="static/izquierda.png" style="display: none"/>
    <img id="abajo" src="static/abajo.png" style="display: none"/>
    <img id="derecha" src="static/derecha.png" style="display: none"/>
    <img id="stop" src="static/stop.png" style="display: none"/>
    <audio id="rip&tear" controls>
        <source src="static/rip&tear.mp3" type="audio/mp3">
    </audio>
</body>
