<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stake</title>
  <style type="text/css">
    
    body {
      background-color:black;
    }
    #canvas_container {
      margin: 25px auto;
    }

  </style>
  <!--
    Copyright 2012 Dominik Heier

    This file is part of coffee-snake.

    coffee-snake is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
</head>
<body>
  <div id="canvas_container"><canvas></canvas></div>
  <a href="https://github.com/dommmel/coffee-snake"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
  
  <script src="static/atomSnake.js" type='text/javascript'></script>
  <script src="static/stake.js" type='text/javascript'></script>
  <script src="{{url_for('static', filename='jquery-1.11.0.min.js')}}"></script>
</body>
</html>
